name: Monitor Fatal Tucuruí

on:
  schedule:
    - cron: "*/50 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependências
        run: pip install beautifulsoup4 cloudscraper requests

      - name: Executar Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_ID: ${{ secrets.TELEGRAM_ID }}
        run: python bot.py

      - name: Salvar progresso
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add modelos_conhecidas.json
          git diff --quiet && echo "Sem alterações" || git commit -m "Auto-update database [skip ci]"
          git push
